* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar ul li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.navbar ul li a:hover {
  color: rgb(92, 11, 95);
  background-color: whitesmoke;
  padding: 10px;
}

.navbar img {
  width: 200px;
  height: 150px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -40px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-bottom: -30px;
}

.navbar .div button a {
  text-decoration: none;
  color: rgb(235, 235, 235);
  padding: 10px;
  font-size: 15px;
}

.navbar .div button a:hover {
  padding: 10px;
  text-transform: uppercase;
} 

.navbar .div button {
  border: none;
  background: blue;
  border-radius: 10px;
  padding: 10px 10px;
}

.article { 
  background-image: url(Images/bbb3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 50px;

  animation-name:habitat;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes habitat {
  0% {background-image: url(Images/bbb3.jpg);}
  25% {background-image: url(Images/bbb.jpg);}
  50% {background-image: url(Images/bbb4.jpg);}
  75% {background-image: url(Images/bbb5.jpg);}
  100% {background-image: url(Images/bb6.jpg);}
}

.section h1 {
  font-size: 36px;
  color: rgb(67, 195, 238);
  text-align: center;
  margin-top: 120px;
}

.section p {
  text-align: center;
  margin-top: 5px;
  color: rgb(255, 253, 253)
}

.section input {
  margin-left: 550px;
  margin-top: 10px;
  padding-right: 100px;
}

.section button {
  border: none;
  border-radius: 10px;
  background-color: rgb(37, 66, 230);
  padding: 10px 130px;
  margin-top: 10px;
  margin-left: 520px;
}

.section button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
}

.section .a {
  text-decoration: none;
  margin-left: 500px;
  color: rgb(255, 255, 255);
}

.section .b {
  text-decoration: none;
  margin-left: 110px;
  margin-top: -50px;
  color: rgb(244, 245, 247);
}

.footer {
  background-color: rgb(17, 11, 95);
  color: white;
  /* text-align: center; */
  padding-bottom: 80px;
  margin-top: 40px;
}

.logo {
  width: 100px;
  /* background-color: white; */
  margin-left: 30px;
  margin-top: -30px;
}


.footer main div .p {
  width: 70%;
  font-size: 14px;
  margin-left: 40px;
  margin-top: -40px;
}

.footer main {
  display: flex;
  justify-content: space-around;
}

.footer main div p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 120%;
  font-size: 14px;
}

.footer main div ul li {
  padding-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  width: 120%;

}

.footer main div ul li a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  margin-top: 40px;
}

.footer main div {
  margin-top: 40px;
  padding-right: 90px;
}

.footer main div .h4 {
  margin-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer main div h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width:850px) {
 
  .navbar {
    /* flex-direction: column; */
  }

  .navbar ul li {
    display: none;
  }

  .navbar .div img {
    display: inline;
    width: 15px;
    height: 15px;
  }


.section input {
  margin-left: 70px;
  padding-bottom: 10px;
}

.section button {
  margin-left: 20px;
}

.section .a {
  margin-left: 20px;
}

.section .b {
  text-decoration: none;
  margin-left: 110px;
  margin-top: -50px;
  color: rgb(71, 130, 238);
}

 .footer main {
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
  }

  .footer main div ul li {
    list-style: none;
  }

}